<h3>{{cnv.title}}</h3>
<div class="list-group">
   <div class='list-group-item' ng-repeat='msg in msgs'>
      <div class='msg-header' ng-binding>
         {{msg.whenMade | date : 'medium'}} by {{msg.email}}
      </div>
      <div class='ng-binding'>
         {{msg.content}}
      </div>
   </div>
   <form class="ng-pristine ng-valid">
      <textarea class="form-control ng-pristine ng-untouched ng-valid ng-empty" rows="5" 
       placeholder="New Message" ng-model="newMsgContent"></textarea>
      <button class="btn btn-primary" type="button" style="margin-top:5px" ng-click="newMsg()">
         New Message
      </button>
   </form>
</div>
